<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>CodeHacks</h1>

    <%var i=0; data.forEach(function(ques){ %>
    <% i=i+1; if(i<=6){%>
    <a
        href="https://codeforces.com/problemset/problem/<%=ques['contestId'] %>/<%=ques['index']%>"><%= ques["name"]%></a>
    <br>
    </li>
    <%}%>
    
    <%})%>
</body>

</html>